__pycache__/  
venv/  
.env  
uploads/  
*.zip  
*.sql  
server.log  
urbano_mobile/build/  
urbano_mobile/.dart_tool/  
urbano_mobile/.packages  
urbano_mobile/.flutter-plugins  
urbano_mobile/.flutter-plugins-dependencies 
